html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input, .content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}


.name_action {
    text-decoration: none;
    font-weight: bold;
}

.content > .birthdays {
    width: 50%;
    margin-right: 0.5em;
}

.name, .age_remaining_text {
    font-weight: bolder;
    display: inline-block;
    margin: 0.5em;
    margin-right: 0em;
}

.age_remaining_text {
    padding-left: inherit 50%;
}


.content_body {
    display: flex;
}

.no_entries {
    color: gray;
    text-align: center;
}

.birthdays {
    float: left;
    width: 50%;

    background-color: rgb(230, 230, 230);
    padding-bottom: 0.5em;
    margin-right: 0.2em;
    border-radius: 10px;
}

.birthdays > h3 {
    margin-left: 0.5em;
}

.birthdays > hr {
    border: 1px solid grey;
}

.birthday_today > .age_remaining_text {
    color: white;
}

.birth_date {
    color: gray;
    font-style: italic;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-left: 1em;
}

#birthday_today {
    padding-top: 0.5em;
}

.birthday_today {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    background-color: lightcoral;
    border-radius: 10px;
}

.birthday_upcoming {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    background-color: lightblue;
    border-radius: 10px;
}

.birthday_past {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    background-color: lightgray;
    border-radius: 10px;
}


.namedays {
    float: right;
    width: 50%;

    margin-left: 0.2em;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.namedays > h2 {
    text-align: center;
}

.nameday_today {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    background-color: rgb(255, 183, 49);
    border-radius: 10px;

}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}