{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Events{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('events.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if events %}
    <div class="birthdays">
        <h3 id="birthday_today">Birthdays today</h3>
            {% for event in events %}
                {% if event.remaining_days == 0 %}
                    <div class="birthday_today">
                        <p class="name"><a class="name_action" href="{{ url_for('events.update', id=event['id']) }}">{{ event['name'] }}</a></p>
                        <p class="age_remaining_text">{{ event['age'] }} years</p>
                        <p class="birth_date">({{ event['birth_date'].strftime("%-d.%-m") }})</p>
                    </div>
                {% endif %}
            {% endfor %}
        <hr>
        <h3>Upcoming birthdays</h3>
            {% for event in events %}
                {% if event.remaining_days > 0 %}
                    <div class="birthday_upcoming">
                        <p class="name"><a class="name_action" href="{{ url_for('events.update', id=event['id']) }}">{{ event['name'] }}</a></p>
                        <p class="age_remaining_text">{{ event['age'] }} years in {{ event['remaining_days'] }} days</p>
                        <p class="birth_date">({{ event['birth_date'].strftime("%-d.%-m") }})</p>
                    </div>
                {% endif %}
            {% endfor %}
        <hr>
        <h3>Next year birthdays</h3>
            {% for event in events %}
                {% if event.remaining_days < 0 %}
                <div class="birthday_past">
                    <p class="name"><a class="name_action" href="{{ url_for('events.update', id=event['id']) }}">{{ event['name'] }}</a></p>
                    <p class="age_remaining_text">{{ event['age'] + 1 }} years in {{ event['remaining_days'] + 365 }} days</p>
                    <p class="birth_date">({{ event['birth_date'].strftime("%-d.%-m") }})</p>
                </div>
                {% endif %}
            {% endfor %}

    </div>

    <div class="namedays">
        <!-- TODO -->
    </div>

    {% endif %}
{% endblock %}