{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Events{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('events.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if today_events or future_events or past_events %}
    <div class="birthdays">
        <h3 id="birthday_today">Birthdays today</h3>
            {% if not today_events %}
                <p class="no_entries">No entries.</p>
            {% endif %}
            {% for event in today_events %}
                <div class="birthday_today">
                    <p class="name"><a class="name_action" href="{{ url_for('events.update', id=event['id']) }}">{{ event['name'] }}</a></p>
                    <p class="age_remaining_text">{{ event['age'] }} years</p>
                    <p class="birth_date">({{ event['birth_date'].strftime("%-d.%-m") }})</p>
                </div>
            {% endfor %}
        <hr>
        <h3>Upcoming birthdays</h3>
            {% if not future_events %}
                <p class="no_entries">No entries.</p>
            {% endif %}
            {% for event in future_events %}
                <div class="birthday_upcoming">
                    <p class="name"><a class="name_action" href="{{ url_for('events.update', id=event['id']) }}">{{ event['name'] }}</a></p>
                    <p class="age_remaining_text">{{ event['age'] }} years in {{ event['remaining_days'] }} days</p>
                    <p class="birth_date">({{ event['birth_date'].strftime("%-d.%-m") }})</p>
                </div>
            {% endfor %}
        <hr>
        <h3>Next year birthdays</h3>
            {% if not past_events %}
                <p class="no_entries">No entries.</p>
            {% endif %}
            {% for event in past_events %}
                <div class="birthday_past">
                    <p class="name"><a class="name_action" href="{{ url_for('events.update', id=event['id']) }}">{{ event['name'] }}</a></p>
                    <p class="age_remaining_text">{{ event['age'] + 1 }} years in {{ event['remaining_days'] + 365 }} days</p>
                    <p class="birth_date">({{ event['birth_date'].strftime("%-d.%-m") }})</p>
                </div>
            {% endfor %}

    </div>
    {% endif %}

    <div class="namedays">
        <h2>Today's nameday: {{ nameday | join(", ") }}</h2>
        {% if not nameday_events %}
            <p class="no_entries">No entries.</p>
        {% endif %}

        {% for person in nameday_events %}
            <div class="nameday_today">
                <p class="name"><a class="name_action" href="{{ url_for('events.update', id=person['id']) }}">{{ person['name'] }}</a></p>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block weather %}
<h2>Today's weather:</h2>
<p id="temperature">Loading...</p>

<script>
    const elem = document.getElementById("temperature");

    window.onload = function get_temperature(){
        fetch("https://api.openweathermap.org/data/2.5/weather?lat=49.1951&lon=16.6068&units=metric&appid=d80ab3acd77676e950ca31ab07cc0a8e")
            .then(response => {
                if (!response.ok) {
                    throw new Error();
                }
                return response.json();
            })
            .then(data => {
                elem.textContent = JSON.stringify(data.main.temp) + "°C";
            })
            .catch(error => { 
                elem.textContent = "ERR";
            })
    }
</script>
{% endblock %}