{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ event['name'] }}"{% endblock %}</h1>
    <form action="{{ url_for('events.delete', id=event['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
    </form>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ event['name'] }}" required>

        <label for="first_name">First name</label>
        <input name="first_name" id="first_name" value="{{ event['first_name'] }}" required>

        <label for="name">Date of birth</label>
        <input name="birth_date" id="birth_date" type="date" value="{{ event['birth_date'] }}" required>

        <label for="note">Note</label>
        <textarea name="note" id="note" cols="30" rows="10">{{ event['note'] }}</textarea>

        <input type="submit" value="Save">
    </form>
    <hr>
    
{% endblock %}