<!DOCTYPE html>

<title>Memo-our</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<nav>
    <h1> <a href="{{ url_for('index') }}">Memo-our</a></h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="content_body">
    {% block content %}{% endblock %}
    </div>
</section>

<section class="weather">
    {% block weather %}{% endblock %}
</section>